@font-face {
    font-family: 'titleFont';    
    src: url('font/Blacksword.otf');
}



@font-face {
    font-family: 'regularFont';
    src: url('font/Roboto.ttf');
}

.app_login{
	background-color: white;
	color: white;
}

.x-panel-header{
     background-color: #FF3E52 !important;
      background-image: none !important;
}

.x-toolbar-dark {
   background-color: #FF3E52 !important;
   background-image: none !important;
}

.x-toolbar-dark.x-docked-top {
    border-bottom-color: transparent;
}

.x-panel-body{
    background-color : white !important;
     background-image: none !important;
}
#ext-element-77 > span, #ext-element-11 > span{
	color: #FF3E52 !important;
}

.x-msgbox {
    margin: .5em;
    border: 0.15em solid #FF3E52;
    -webkit-box-shadow: rgba(0,0,0,0.4) 0 0.1em 0.5em;
    -moz-box-shadow: rgba(0,0,0,0.4) 0 0.1em 0.5em;
    box-shadow: rgba(0,0,0,0.4) 0 0.1em 0.5em;
    -webkit-border-radius: 0.3em;
    -moz-border-radius: 0.3em;
    -ms-border-radius: 0.3em;
    -o-border-radius: 0.3em;
    border-radius: 0.3em;
    background-image: none !important;
    background-color: white;
}

.x-msgbox-dark .x-msgbox-text {
    color: #000;
    text-shadow: rgba(0,0,0,0.5) 0 -0.08em 0;
}

.x-msgbox .x-button{
	background-color: #FF3E52 !important;
	border: 0px solid #FF3E52 !important;
}

div#ext-toolbar-2{
	background: white !important;
}




.x-list .x-list-item.x-item-selected .x-dock-horizontal, .x-list .x-list-item.x-item-selected.x-list-item-tpl {
    background-image: none !important;
    background-color: #FF3E52;
    color: #fff;
}

.x-toolbar-dark .x-button, .x-toolbar .x-toolbar-dark .x-button, .x-toolbar-dark .x-field-select .x-component-outer, .x-toolbar .x-toolbar-dark .x-field-select .x-component-outer, .x-toolbar-dark .x-field-select .x-component-outer:before, .x-toolbar .x-toolbar-dark .x-field-select .x-component-outer:before {
    border: 1px solid transparent;
    border-top-color: transparent;
    background-color: transparent;
}

.chirr-field {
	border: 1px solid !important;
	border-style: solid;
	border-color: #FF3E52 !important;
/* 	border-right:  1px solid !important; */
}

.chirr-field-black {
	border: 1px solid;
	border-style: solid;
	border-color: black;
}

.chirr-button {
	background-color: #FF3E52;
	border-color: #FF3E52;
	color:white;
	border-radius: 0px;
}

.chirr-button-gray {
	background-color: white;
	border-color: #FF3E52;
	color:#FF3E52;
	border-radius: 0px;
}

.x-list-normal .x-list-header{
    background-image: none !important;
    background-color: #FF3E52;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    color: white;
}

.x-container .x-toolbar-dark .x-toolbar .x-stretched .x-msgbox-buttons .x-dock-item .x-docked-bottom{
	background-color : white !important;
}

.x-toolbar-light {
    background-image: none !important;
    background-color: #FF3E52;
}

.x-toolbar-light.x-docked-top {
    border-bottom-color: white;
}

.x-msgbox .x-field-input {
    padding-right: 2.2em;
    border: 1px solid;
    border-color: #FF3E52;

.message_name {
	margin-left:10px;
	font-size:12px; 
	color:#A4A4A4; 
	font-style: italic; 
	text-align: left; 
	float: left; 
	position: relative
},

.message_fecha {
	font-size:12px; 
	color:#A4A4A4; 
	font-style: italic; 
	text-align: right; 
	float: right; 
	position: relative
},



.panel_chirr{
	background-color: #FF3E52;
}

.image-chat{
	width: 50px;
	height: 50px;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	background-position:50% 50%;
	border: 0px solid;
   background-size:50px 50px;
   float:left;
}

.image-circle{
	width: 100px;
	height: 100px;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	background-position:50% 50%;
	background-size:100px 100px;
	border: 1px solid;
	border-style: solid;
	border-color: black;
}



.image-selected{
	width: 100px;
	height: 100px;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	background-position:50% 50%;
	background-size:100px 100px;
    border: 5px solid;
	border-style: solid;
	border-color: #FF3E52;
}

.selectfield {
display: block;

.x-label-align-left {
    &:first-child {
      .x-form-label {
        @if $include-border-radius { @include border-top-right-radius($form-fieldset-radius); }
      }
    }

    &:last-child {
      .x-form-label {
        @if $include-border-radius { @include border-bottom-left-radius(0); }
      }
    }        
}
.x-form-label {
    span {
      font-size: 25px;
    }
}    
.x-component-outer {
    &:after {
        margin-top: .5em;
    }
    &:before {
        background: none;
    }
    .x-field-input{
        font-size: 25px;
    }
}





}  
   
}